<div class="container container-fluid">
    <div class="quoteDetails mt-4 pd-2">
        <p class="text-center">
            "{{quote.say}}" ~ {{quote.author}}
        </p>
    </div>
    <div class="quoteIcons">
        <h5>This quote was posted by: {{quote.name}}</h5>
        <ul>
            <i class="far fa-thumbs-up" (click)="upvoteThisQuote()"></i>
            <i class="far fa-thumbs-down ps-4"></i>
        </ul>
        <i class="fas fa-trash" (click)="deleteThisQuote(true)"></i>
    </div>

</div>


