<div class="container container-fluid">
    <div class="quoteDetails mt-4 pd-2">
        <p class="text-center" appHighlight>
            "{{quote.say}}" ~ <em>{{quote.author}}</em>
        </p>
    </div>
    <div class="quoteIcons">
        <h5>This quote was posted by: <em>{{quote.name}}</em></h5>
        <p>This quote was posted on : {{quote.postedDate|date}}</p>
        <ul>
            <i class="far fa-thumbs-up" (click)="upvoteThisQuote()">{{likes}}</i>
            <i class="far fa-thumbs-down ps-4" (click)="downVoteThisQuote()">{{dislikes}}</i>
            <i class="fas fa-trash ps-5" id="delete" (click)="deleteThisQuote(true)"></i>
        </ul>
        
    </div>

</div>


