<div class="container-fluid">
    <h4 class="text-center">Post your Favourite quotes here</h4>
    <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
        <div class="form-group row">
            <div>
                <p class="text-center">What's your qoute about?
                    e.g Inpiration, Motivation, Life etc</p>
                    <hr>
                    <label for="name">Quote Title</label>
            </div>
            <div>
                <input type="text" class="form-control" id="title" [(ngModel)]="newQuote.title" name="title" #title='ngModel' required>
                <!-- display {{newQuote.name}} -->
            </div>
            <div [hidden]="title.valid || title.pristine" class="alert alert-danger mt-3">
                <h6>Quote title is required</h6>
            </div>
        </div>
        <div class="form-group row">
            <div>
                <label>Your Name</label>
            </div>
            
            <div>
                <input type="text" class="form-control" id="userName" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
            </div>
            <!-- Display {{newQuote.name}} -->
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger mt-3">
                <h6>Your name is required</h6>
            </div>
        </div>
        <div class="form-group row mt-2">
            <div>
                <label for="quote">Enter Quote</label>
            </div>
            <div>
                <textarea class="form-control" id="userQuote" rows="4" [(ngModel)]="newQuote.say" name="say" #say="ngModel" required></textarea>
            </div>
            <!-- Display {{newQuote.say}} -->
            <div [hidden]="say.valid || say.pristine" class="alert alert-danger mt-3">
                <h6>Quote is required</h6>
            </div>
        </div>
        <div class="form-group row">
            <div>
                <label for="name">Quote said by;</label>
            </div>
            <div class="col-md-5 col-sm-6">
                <input type="text" class="form-control" id="authorName" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
            </div>
            <!-- display {{newQuote.author}} -->
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger col-md-6">
                <h6>Author's name is required</h6>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <label for="createdDate">Date</label>
            <input type="date" id="posted" [(ngModel)]="newQuote.postedDate" name="postedDate" #postedDate="ngModel" required>
        </div>
        <p class="mt-2"> This quote will be posted on; {{newQuote.postedDate|date}} </p>

        
        <div [hidden]="postedDate.valid || postedDate.valid" class="alert alert-danger">
            <h6>Date is required</h6>
        </div>
        <button type="submit" class="btn btn-success mt-1 mb-3">Post Quote</button>
    </form>

</div>
